/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #eae5ea;
  }

#lab5_js_code_screenshot{
  width: 425px;
}
#lab5_task1_screenshot{
  width: 400px;
}

#lab5_jeep_screenshot{
  width: 300px;
  margin-right: auto;
  }
  