.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #eae5ea;
  }

  body{
    padding: 10px;
  }

  #lab8_code{
    width: 400px;
  }

 #lab8_console{
  width: 180px;
   }
  
   