.minor-section {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #eae5ea;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }

h1, h2, h3 {
    font-family: Georgia;
}

h3{
   font-weight: bold;
   font-family: Georgia;
}

 #lab10code{
    width: 800px;
    padding-top:10px;
    padding-left: 10px;
  }


.text:nth-child(odd) {
  text-align: left;
}

.text:nth-child(odd) p {
  background-color: rgb(233, 233, 233);
  color: black;
}

.text:nth-child(even) {
  text-align: right;
}

.text:nth-child(even) p {
  background-color: #57b766;
  color: white;
}

.dino-section {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #888;
    background-color: #eae5ea;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }

  .dinochat-section{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #888;
    background-color: #dedbd7c3;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }