.minor-section {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #eae5ea;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }

h1, h2, h3 {
    font-family: Georgia;
}

.dino-section {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #888;
    background-color: #eae5ea;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }

  .dinochat-section{
     text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #888;
    background-color: #dedbd7c3;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }