/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 20px;
    margin-bottom: 20px;
    border: solid 2px #ffffff;
    background-color: #88899029;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #b8b2b5;
  background-color: #afabab00;
}


#imgbigboss_gif{
  padding: 10px;
  width: 100px;
}


body {
  padding: 1px;
  background-color: rgba(173, 174, 177, 0.171);
  background-image: url('imgmgsbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

