/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 20px;
    margin-bottom: 20px;
    border: solid 2px #ffffff;
    background-color: #88899029;
}

#imgbigboss_gif{
  padding: 10px;
  width: 100px;
}


body {
  padding: 1px;
  background-color: rgb(63, 69, 86);
  background-image: url('imgmgsbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

