.minor-section {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #eae5ea;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }

h1, h2, h3 {
    font-family: Georgia;
}

h3 {
  font-weight: bold;
  font-family: Georgia;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#lab14_issue1{
    width: 800px;
    padding-top:10px;
    padding-left: 10px;
  }
#lab14_webpage{
    width: 800px;
    padding-top:10px;
    padding-left: 10px;
  }
  