.minor-section {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #eae5ea;
    border: 2px solid rgb(136, 129, 129);
    border-radius: 5px;
  }

h1, h2, h3 {
    font-family: Georgia;
}

h3 {
  font-weight: bold;
  font-family: Georgia;
}

.text p {
  text-align: left;
  color: black;
  font-size: 1.5em;       
  font-weight: bold;      
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}
#lab12_code{
    width: 800px;
    padding-top:10px;
    padding-left: 10px;
  }
